*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post{
    width: 600px;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem auto;
}
.postList-title {
    text-align: center;
}
.postList-title{
    margin-bottom: 1rem;
}
.input{
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-right: 1rem;
}

.newsForm{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.btn{
    display: block;
    height: 30px;
    padding: 0.5rem;
    margin: 1rem auto;

}